// Place all the styles related to the data_sets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.field_match
{
  td{
    padding: 5px;
    
  }
  select{
    margin-bottom: 0px;
  }
  .progress
  {
    margin-bottom: 0px;
  }
}

.spreadsheet {

  border-top: 1px solid #DDD !important;
  border-right: 1px solid #DDD !important;

  tr {
    th {
      text-align: center;
      border-left: 1px solid #DDD !important;
      border-right-width: 1px solid #DDD !important;
    }
    
    td {
      
      border-left: 1px solid #DDD !important;
      border-right-width: 1px solid #DDD !important;

      
      input {
        
        padding: 0px;
        height: 100%;
        
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        border: none;
        
        background-color: transparent;
        
        text-align: center;
    
      }
    }
  }
}

#neutable {
  
  thead {
  
    height: 58px !important;
  
  }
  
    background-image:url('stripe.jpg');
  
  tr {
    
    height: 58px !important;
  
    background-color: transparent;
    
  }
  
}